.checkoutsidemenu-detail {
    padding: 1rem;
    width: 24rem;
    height: calc(100vh - 4rem);
    top: 4rem;
    border-radius: 1rem;
    flex-direction: column;
    gap: 2rem;
    overflow: auto;
}

.checkoutsidemenu-detail::-webkit-scrollbar{
    scrollbar-width: none;
}